* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.10);
    align-items: center;
    height: 425px;
    width: auto;
    padding: 35px 100px 0 100px;

}

.main-content {
    color: #272727;
    font-size: 48px;
    width: 410px;
    font-weight: 900;
}

.header-des {
    color: rgba(39, 39, 39, 0.60);
    font-family: Lato;
    font-size: 12px;
    width: 470px;
    margin: 16px 0 5px 0;
    line-height: 22px;
}

.btn-primary {
    margin: 0;
    border-radius: 5px;
    background: #E55473;
    padding: 8px 14px;
    border: 0;
    color: #f1f1f1;
    font-size: 12px;
}

.profile-image {
    width: 335px;
    height: 425px;
}

.main-section {
    text-align: center;
}

.main-con {
    color: #272727;
    text-align: center;
    font-size: 22px;
    margin: 75px 0 12px 0;
    font-weight: 800;
}

.main-des {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 12px;
    width: 470px;
    margin: auto;
    line-height: 22px;
}

.flower-container {
    display: flex;
    margin: auto;
    max-width: fit-content;
}

.flower-image1 {
    width: 150px;
    height: 200px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    padding: 30px 40px 0 40px;
    margin: 20px 5px 15px 5px;
}

.flower-image2 {
    width: 150px;
    height: 200px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    padding: 30px 40px 0 40px;
    margin: 20px 5px 15px 5px;
}

.flower-image3 {
    width: 125px;
    height: 175px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    padding: 30px 40px 0 40px;
    margin: 20px 5px 15px 5px;
}

.flower-caption {
    color: #272727;
    text-align: center;
    font-size: 12px;
    text-decoration-line: underline;
    margin: 0 0 75px 0;
    font-weight: bold;
}

.hot-sale {
    display: flex;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    text-align: center;
    justify-content: space-evenly;
    padding: 50px 225px;
    align-items: center;
}

.offer-flower img {
    width: auto;
    height: 300px;
    margin-top: 50px;
}

.pink {
    color: #E55473;
}

.btn-primary {
    text-align: center;
}

.sale-of-flower {
    padding-right: 100px;
}

.rec-image {
    display: flex;
    margin: auto;
    max-width: fit-content;
}

.flower-varient {
    margin: 15px 5px;
    height: auto;
    width: 180px;
}

.main-des {
    font-weight: 200px;
}

.container-deal {
    width: 750px;
    height: 250px;
    position: relative;
    margin: 50px auto;

}

.container-deal img {
    width: 750px;
    height: 250px;
}

.over-image {
    top: 40%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}

input[type="email"] {
    width: 300px;
    height: 21px;
    border-radius: 5px;
    background: #ffffff;
    font-size: 14px;
    margin: auto;
    padding: 8px;
    border: 0;
}

.text-button {
    display: flex;
    margin: 0;
    padding: 0;
}

#bottom {
    margin-bottom: 10px;
}

.footer-container {
    width: auto;
    height: 250px;
    background: #111010;
    padding-top: 125px;
}

.ft-con {
    color: white;
    text-align: center;
}

.footer-head {
    font-size: 35px;
    line-height: normal;
}

.fl-shop {
    color: #E55473;
}

.foot-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 12px;
    line-height: 15px;
    margin: 15px;
}

.foot-res {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 10px;
}